.box {
    background-color: blue;
    padding: 10px;
  }
  
  p {
    color: yellow;
    margin: 0;
    padding: 0;
  }

#outer-box{
    padding: 10px;
    background: purple;

}
.inner-box{
    background: red;
}
.white-text{
    color:white;
}